.table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.headings {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 5px;
}

h4 {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.type, .account {
    width: 38%;
}

.amount {
    width: 20%;
}

.options {
    width: 4%;
    min-width: 20px;
}
