<h2>What would you like to do?</h2>
<ul>
    <li (click)="getRecords()"><a routerLink="get">{{ record.get() }}</a></li>
    <li (click)="postRecord()">{{ record.post() }}</li>
    <li (click)="updateRecord()">{{ record.update() }}</li>
    <li (click)="deleteRecord()">{{ record.delete() }}</li>
</ul>

@switch (action()) {
    @case ('get') {
        get record
    }
    @case ('post') {
        post record
    }
    @case ('update') {
        update record
    }
    @case ('delete') {
        delete record
    }
    @default {
        no action
    }
}

<router-outlet />
