h2 {
    text-align: center;
}

ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

li {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    margin: 10px;
    padding: 10px;
}

li:hover {
    cursor: pointer;
    background-color: rgb(210, 210, 210);
}